<<<<<<< HEAD
@charset "UTF-8";
/*web fonts*/
@import url("//fonts.googleapis.com/css?family=Open%20Sans%3A400%2C500%2C700|Source%20Sans%20Pro%3A400%2C500%2C700|Cookie&subset=latin%2Clatin-ext");

body {
  font-family 'open sans', sans;
=======
body {
>>>>>>> development
  font-size: 16px;
  font-weight: 300;
  color:#fff;
  background-color: #1a1a1a;    
}

img, figure {
<<<<<<< HEAD
  max-width: 100%;
  height: auto;
  line-height: 0; }
=======
  width: auto;
  max-width: 100%;
  margin: 0 auto;
  height: auto;
  line-height: 0;
}
>>>>>>> development

header {
  padding: 2em;
}

.container {
  max-width: 800px;
  margin: 0 auto;
  position: relative;
}

<<<<<<< HEAD
.slider figure {
  position: absolute;
=======
.slider {
  width: 100%;
  position: relative;
  margin: 0 auto;
  z-index: 1;
}
.slider figure {
  width: 100%;
  position: absolute;
}

section {
  position: relative;
  z-index: 1000000000;
>>>>>>> development
}