@charset "UTF-8";
/*web fonts*/
@import url("//fonts.googleapis.com/css?family=Open%20Sans%3A400%2C500%2C700|Source%20Sans%20Pro%3A400%2C500%2C700|Cookie&subset=latin%2Clatin-ext");

body {
  font-family 'open sans', sans;
  font-size: 16px;
  font-weight: 300;
  color:#fff;
  background-color: #1a1a1a;    
}

.container {
  max-width: 800px;
}